In [2]:
maths= int(input("enter your maths marks out of 100  -"))
phy= int(input("enter your physics marks  out of 100  -"))
urdu= int(input("enter your urdu marks  out of 100 -"))
chem= int(input("enter your chemistry marks  out of 100 -"))
eng= int(input("enter your english marks  out of 100 -"))
total= maths+phy+urdu+chem+eng
print("total marks is " ,total)
if total>=450 and total <=465 :
     print(" and your grade is Grade A*")
elif total>=400 and total <450 :
     print(" and your grade is Grade A-1 ")
elif total>=350 and total<400 :
      print("and your grade is Grade A")
elif total >=300 and total <350 :
        print("and your grade is Grade B")
elif total >=250 and total <300 :        
           print("and your grade is Grade C")
elif total >=200 and total <250 :
            print("and your grade is Grade D")
elif total >=150 and total <200 :       
            print("and your grade is Grade E")
else :
        print("you are failed")

enter your maths marks out of 100  -30
enter your physics marks  out of 100  -95
enter your urdu marks  out of 100 -58
enter your chemistry marks  out of 100 -59
enter your english marks  out of 100 -85
total marks is  327
and your grade is Grade B

In [7]:
num=int(input("enter any number"))
if num%2 ==1:
    print(" entered number is odd number  ")
else:
     print("enetered number is even number")

enter any number1
 entered number is odd number

In [8]:
list=[2,4,6,7,8,9,15,6,'ali','maaz']
print("the length of the list is ",len(list))

the length of the list is  10

In [1]:
list=[2,4,5,"ali",14,"Ahmed",7]
print("initial list ",list)
res=0
for item in list:
    try:
        res=res+int(item)
    except ValueError:
        pass
        
    
print("the resultant sum is",res)

initial list  [2, 4, 5, 'ali', 14, 'Ahmed', 7]
the resultant sum is 32

In [2]:
list=[2,4,5,14,7,4,2,23,53,23,4,23,65,6,7,68,45,23,41,3,23,14645,7,56,]
print("intial list is ",list)
list.sort()
print("the largest number in the give list is  ",list[-1])

intial list is  [2, 4, 5, 14, 7, 4, 2, 23, 53, 23, 4, 23, 65, 6, 7, 68, 45, 23, 41, 3, 23, 14645, 7, 56]
the largest number in the give list is   14645

In [3]:
list=[1,1,2,3,5,8,13,21,34,55,89]
print("intial list ", list)
a=list[0:5]
print(" the numbers that are less than 5 in the above list are",a)

intial list  [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
 the numbers that are less than 5 in the above list are [1, 1, 2, 3, 5]